{{!--
Navigation Bar
Authors: Erin McBride and Blake Jennings
Updated on 03/18/2024
CS_340 Group 170
Citations for the following file:
    Date: 3/1/2024
    Adapted from W3schools.com to reflect our project pages
    Source URL: https://www.w3schools.com/howto/howto_js_topnav.asp
 --}}

<nav class="navbar">
    <body>
    <a href="/"><button class="button">Home</button></a>
    <a href="/Orders"><button class="button">Orders</button></a>
    <a href="/Order_Scores"><button class="button">Order Scores</button></a>
    <a href="/Scores"><button class="button">Scores</button></a>
    <a href="/Composer_Scores"><button class="button">Composer Scores</button></a>
    <a href="/Composers"><button class="button">Composers</button></a>
    <a href="/Customers"><button class="button">Customers</button></a>
    </body> 
</nav>
